@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet") */ */

*{background-color: #002a53;
}

body{
    margin:0;
    background-color: #002a53;
}

.topbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px; 
    font-size: 17px;
  }

topbar{
    display: flex;
    padding: 14px 16px;
    background-color: #9A01CD;
    margin-left: 160px;
    min-height: 0vh;
    box-shadow: 5px 5px gray;
    display: flex;
    align-items: center;
    justify-content:left;
    font-size: 30px;
    padding: 5px 25px;
    font-family: "French's Asylum";
    src="./fonts/FrenchsAsylum.otf";text-align: center;
    text-decoration: none;
    color: #ffa202;
    text-shadow: 2px 2px #340146;
    /* border: 5px solid #ffa202 */
}

.search{
    position: relative;
    left: 55%;
}
/* .topbar a{
      float: left;
      display: block;
      text-align: center;
      padding: 14px 16px;
} */

/* @media screen and (max-width: 600px) { */
.topbar a, .topbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
      border: 1px solid #ccc; 
}
    
  
    /* topbar2{
      font-family: EEF;
      src-"./fonts/EEF.otf"
      color: black;
    } */


/* Start Side Navbar CSS */
.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #340146;
    overflow-x: hidden;
    padding-top: 20px;
    /* padding: 10px; */
    text-shadow: 2px 2px #9a01cd;
    /* border: 5px solid #ffa202 */
  }

  .sidenav .navlink{
    padding: 6px 8px 6px 16px;
    /* font-size: 20px; */
    /* font-family: "French's Asylum";
    src="./fonts/FrenchsAsylum.otf";text-align: center;
    text-decoration: none;
    color: #ffa202; */
    /* font-family: "Headline FA";
    src="./fonts/HeadlineFA.otf"; 
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    display: block; */
  }

  .sidenav a {
    /* padding: 6px 8px 6px 16px; */
    font-family: "Headline FA";
    src="./fonts/HeadlineFA.otf"; 
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    display: block;
    font-family: "Headline FA";
    src="./fonts/HeadlineFA.otf"; 
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    display: block;
  }
  /* .sidenav img{
    align-items: left;
  } */
  
  .sidenav a:hover {
    color: #ffa202;
  }

   @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* End Side Navbar CSS */


  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; Increased text to enable scrolling
    padding: 0px 20px;
    /* font-family: Bookman Caps;
    src="./BOOKSB_CAPS.otf"; */
    /* text-align:left;
    font-family: "Headline FA";
    src="./fonts/HeadlineFA.otf"; 
    color:whitesmoke */
  }

  section, .footer{
    font-size: 28px; /* Increased text to enable scrolling */
    text-align:left;
    font-family: Bookman Caps;
    src="./BOOKSB_CAPS.otf";
    /* font-family: "Headline FA";
    src="./fonts/HeadlineFA.otf";  */
  }

  .content{
    padding: 5px 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    color: white;
    /* color:black; */
  }
  
   section{
    background-color: #9a01cd;
    margin: 0px 0px;
    min-height: 0vh;
    padding: 0px 0px; 
    color:whitesmoke
  }

  .footer {
    position: fixed;
    left: 160px;
    bottom: 0;
    width: 100%;
    margin: 0px 0px;
    padding: 0px 15px;
    background-color:#ffa202;
    color: #340146;
    /* text-align: center; */
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  